body{
    font-size: 20px;
    background-color: rgb(161, 186, 211)
}

header{
    display: flex;/*definir o meu layout flexível para eu alterar os elementos*/
    align-items: center; /*alinha os itens verticalmente ao centro */
    justify-content: space-between;
    background-color:rgb(161, 186, 211);
    /* border: 1px solid;
    border-radius: 10px; */
}
header .profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 20%;
}
header .links a{
    text-decoration: none;
    color: #0077b6;
    font-weight: bold;
    margin: 0 10px;
    font-size: 25px;
}
.descricao{
    text-align: center;
    margin: 20px;
}

.conteudo{
    display: flex;
    justify-content: space-around; /*colocou espaço entre as divs*/
    margin: 20px;
    text-align: center;
    color: rgb(171, 194, 218)
}

.bloco{
    width: 30%;
    background-color:#0077b6;
    padding: 15px;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 7px;
}

.falacomigo{
    text-align: center;
    margin: 20px;
}
form{
    
    display: inline-block;
    text-align: left;
}
form label{
    display: block;
    margin: 5px 0;
}
form input{
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
}
